.panel.panel-default
  .panel-body.search-result-body

    .media-left.media-middle
      %media
        - if result.safe_data.entities
          - result.safe_data.entities.each do |media|
            - media[1].each do |url|
              = image_tag url['media_url'], class: "img-responsive"
              - if url['expanded_url'] && url['expanded_url'].include?("youtu")
                .embed-responsive.embed-responsive-4by3
                  %iframe.embed-responsive-item{ src: "https://www.youtube.com/embed/#{url['expanded_url'].split("/").last }", frameborder: "0" }

      %h3
        = auto_link(result.safe_data.text).html_safe
      %media
        = image_tag result.safe_data.user["profile_image_url"]
        = result.safe_data.user["name"]

      %p.hashtags
        - result.tags.each do |tag|
          = render partial: 'tags/row', locals: {tag: tag}
