.panel.panel-default
  .panel-body.search-result-body

    .media-left.media-middle
      %media
        = image_tag result.safe_data.user["profile_image_url"]
        = result.safe_data.user["name"]


      %media
        - if result.safe_data.entities
          - result.safe_data.entities.each do |media|
            -# = media[1]
            - media[1].each do |url|
              -# = url['media_url']
              = image_tag url['media_url']

              - if url['expanded_url']
                %iframe{ src: "https://www.youtube.com/embed/#{url['expanded_url'].split("/").last }", frameborder: "0" }           

      %h4
        = auto_link(result.safe_data.text).html_safe
