.panel.panel-default
  .panel-body.search-result-body
    .media-left.media-middle
      %h3
        = link_to "http://youtube.com/watch?v=#{result.id}" do
          = result.title

      %media
        %iframe{ width: "560", height: "315", src: "https://www.youtube.com/embed/#{result.id}", frameborder: "0" }
        = image_tag result.snippet.data["thumbnails"]["high"]["url"]
        .fb-like{ "data-href" => "https://developers.facebook.com/docs/plugins/", "data-layout" => "standard", "data-action" => "like",
          "data-show-faces" => "true", "data-share" => "false"}
