- if (params.has_key?(:tags))
  -# %h1.color-tag= @hashtags.gsub("#makerhood", "")
- else
  .banner-image
    = image_tag "makerhood_new.jpg", class: "img-responsive"
  %h1.tag-line 
    We are the #makerhood, 
    %br
    a community that creates its own destiny.

%h1.color-tag
  - @active_tags.each do |t|
    - next if t.name == "makerhood"
    = render partial: "tags/row", locals: { tag: t}

- @active_tags.each do |t|
  - if t.description.present?
    .tag_description
      = markdown(t.description).html_safe

  -# - t.places.each do |p|
  -#   .row
  -#     .col-md-8
  -#       = render partial: "maker_thing/show", locals: { maker_thing: p }
  -#     .col-md-4
  -#       #map_container

= link_to "https://twitter.com/intent/tweet?hashtags=#{@hashtags.gsub("#", '').gsub(" ", ',')}", class: "btn btn-success" do
  %span.glyphicon.glyphicon-tweet
  Write Tweet

= link_to new_story_path(hashtags: @hashtags), class: "btn btn-success" do
  Tell Story
.row.wookmark-row
  .col-md-12
    - tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class|
      = render partial: "tags/row", locals: { tag: tag, css_class: css_class }
    -#
    -# - @tags.each do |tag|
    -#   %span{ style: "font-size: #{tag.font_size}em;"}

.row.wookmark-row
  .col-md-12
    .wookmarkable
      - @social_results.each do |r|
        - if r.is_a?(Yt::Models::Video)
          = render partial: 'video_result', locals: { result: r }
        - elsif r.class.name == "Story"
          = render partial: 'story_result', locals: { result: r }
        - elsif r.class.name == "Tweet"
          = render partial: 'twitter_result', locals: { result: r}
