- if (params.has_key?(:tags))
  -# %h1.color-tag= @hashtags.gsub("#makerhood", "")
- else
  = image_tag "hp_banner", class: "img-responsive"
  %h1.tag-line #makerhood is the community that creates its own reality.

- @active_tags.each do |t|
  - next if t.name == "makerhood"
  = render partial: "tags/row", locals: { tag: t}

- @active_tags.each do |t|
  - if t.description.present?
    .tag_description
      = markdown(t.description).html_safe

  -# - t.places.each do |p|
  -#   .row
  -#     .col-md-8
  -#       = render partial: "maker_thing/show", locals: { maker_thing: p }
  -#     .col-md-4
  -#       #map_container

= link_to "https://twitter.com/intent/tweet?hashtags=#{@hashtags.gsub("#", '').gsub(" ", ',')}", class: "btn btn-success" do
  %span.glyphicon.glyphicon-tweet
  Write Tweet

= link_to new_story_path(hashtags: @hashtags), class: "btn btn-success" do
  Tell Story
.row.wookmark-row
  .col-md-12
    - @tags.each do |tag|
      %span{ style: "font-size: #{tag.font_size}em;"}
        = render partial: "tags/row", locals: { tag: tag}
.row.wookmark-row
  .col-md-12
    .wookmarkable
      - @social_results.each do |r|
        - if r.is_a?(Yt::Models::Video)
          = render partial: 'video_result', locals: { result: r }
        - elsif r.class.name == "Story"
          = render partial: 'story_result', locals: { result: r }
        - elsif r.class.name == "Tweet"
          = render partial: 'twitter_result', locals: { result: r}
