%h1= @hashtags


= link_to "https://twitter.com/intent/tweet?hashtags=#{@hashtags}", class: "btn btn-success" do
  Add
.row.wookmark-row

  .col-md-10
    .wookmarkable
      - @social_results.each do |r|
        - if r.is_a?(Yt::Models::Video)
          = render partial: 'video_result', locals: { result: r }
        - else
          = render partial: 'twitter_result', locals: { result: r}
  .col-md-2
    - @tags.each do |tag|

      %strong{ style: "font-size: #{tag.font_size}em;"}
        = link_to "##{tag.name}", root_url(tags: "##{tag.name}")
