- if (params.has_key?(:tags))
  %h1.color-tag= @hashtags.gsub("#makerhood", "")
- else
  = image_tag "hp_banner", class: "img-responsive"
  %h1.tag-line #makerhood is the community that creates its own reality.

- @hashtags.split(" ").each do |hashtag|
  - next if hashtag != "#makerhood"
  %h1.color-tag{ style: "font-size: 2em;"}


- @active_tags.each do |t|
  - t.places.each do |p|
    .row
      .col-md-8
        = render partial: "maker_thing/show", locals: { maker_thing: p }
      .col-md-4
        #map_container

= link_to "https://twitter.com/intent/tweet?hashtags=#{@hashtags.gsub("#", '').gsub(" ", ',')}", class: "btn btn-success" do
  %span.glyphicon.glyphicon-tweet
  Write Tweet

= link_to new_story_path(hashtags: @hashtags), class: "btn btn-success" do
  Tell Story
.row.wookmark-row
  .col-md-12
    - @tags.each do |tag|

      %p{ style: "font-size: #{tag.font_size}em;"}
        = link_to root_url(tags: "##{tag.name}"), class:"color-tag", style: "background: #{tag.color}; color: #{tag.color};" do
          %span
            - if tag.icon.present?
              %i{class: "fa #{tag.icon}"}
            = "##{tag.name}"
.row.wookmark-row
  .col-md-12
    .wookmarkable
      - @social_results.each do |r|
        - if r.is_a?(Yt::Models::Video)
          = render partial: 'video_result', locals: { result: r }
        - elsif r.class.name == "Story"
          = render partial: 'story_result', locals: { result: r }
        - elsif r.class.name == "Tweet"
          = render partial: 'twitter_result', locals: { result: r}

  .col-md-2
    - @tags.each do |tag|
      = render partial: 'tags/row', locals: {tag: tag}
