= simple_form_for(@story, html: { class: 'form-horizontal' }) do |f|
  = f.error_notification

  .form-inputs
    -# = f.input :name
    -# = f.input :latlong
    = f.input :tag_list

    = f.simple_fields_for :data do |d|
      = d.input :story, as: :text, required: false, input_html: { value: @story.safe_data.send(:story) }

  .form-actions
    = f.button :submit
