%strong
  = link_to root_url(tags: "##{tag.name}"), class:"color-tag", style: "background: #{tag.color}; color: #{tag.color};" do
    %span
      - if tag.icon.present?
        %i{class: "fa #{tag.icon}"}
      = "##{tag.name}"
